DATABASE_URL="postgresql://postgres:12345678@localhost:5432/tops"

RABBITMQ_URL=amqp://guest:guest@localhost:5672

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=djf90q#Ue8q@DAP#*FGNq39hq!ueq48739Vaaio
JWT_EXPIRES_IN=3600
